header ul, header li {
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline-block;
}

header a {
    text-decoration: none;
}

#logo {
    display: inline-block;
}

h2 {
    color: darkred;
}

h4 {
    text-transform: uppercase;
    color: darkred;
}

main, aside {
    display:inline-block;
}

main {
    width:67%;
}

aside {
    width:28%;
}